<div class="container-fluid">
  <div class="row">
          <form id ="form"(ngSubmit) = "submitUser()">
              <div class="form-group">
  
                  <label for="name">Username</label>
                 
                 <input type="text" required class="form-control" id="name" [(ngModel)]="Username.username" name="username" #username="ngModel" required>
              </div>  
              <button type ="submit">Reseach</button>
   
          </form>
  </div >      
</div> 
<a href=" http://quotes.stormconsultancy.co.uk/random.json ">user Account</a>